@import "_mixin.scss";

main {
  background-color: #ccc;
  @include sp-width {
    background: #000;
  }
}

section {
  background-color: transparent;
  @include font-size(16);
  @include sp-width {
    background: #cccccc;
  }
}

