doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="/assets/css/style.css")
        title Pugテスト
        script(src="bundle.js")
    body
        include template/_header
        main.main
            h2.content_ttl メインタイトル
            p