extends _layout.pug

block vars
    include ./_config.pug
    - var key = "top"
    - var page = pages[key]

block contents
    h2 page.title
    .keyvisual_container
        p.keyvisual_image
            img(src=image_path+"/top/top_keyvisual.jpg", alt="")


    .menu
        .menu__item メニュー１
        .menu__item メニュー２
        .menu__item.menu__item--emphasis 強調されたメニュー2

    .box
        .box__element boxの子要素
    ul.photo-list
        li.photo-list__element photo-listの子要素

    .box
        .box__element--large box__elementの装飾(large)

