doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
        link(rel="stylesheet" href="/assets/css/common.css")
        link(rel="stylesheet" href="/assets/css/style.css")
        title Hello typescript
    body
        include template/_header
        main.main
            //h2.heading 見出し
            //    a(href="#").heading__link リンク
            //div.heading
            //    h2 見出し
            //    a(href="#").heading__link リンク
            //a(href="#").btn.btn--primary.btn--large ボタン
            //button ボタン
            //form.form
            //    .form__body
            //    .form__button
            //        button.btn.btn--full ログイン
            //.comment
            //    .comment__body
            //        .p あああああああああああああああああああああああああああああああああああ<br>ああああああああああああ
            //    button.btn.comment__button 返信する
            .media
                .media__image
                    img(src="/assets/img/thumb.jpg")
                .media__body
                    p 本文エリア
            .media.media--rev
                .media__image
                    img(src="/assets/img/thumb.jpg")
                .media__body
                    p 本文あああああああああああああああああああああ
            ul.tableview
                li.tableview__item リスト
                li.tableview__item リスト
                li.tableview__item リスト
                li.tableview__item
                    a(href="#").tableview__target リンク
                li.tableview__item
                    | テキストの中に
                    a(href="") インラインでリンク
                    | リンク
            .profile
                button.save 内容を保存する
            .contact
                button.send 送信する
            .tutorial
                button.go-forword 次へ進む
    script(src="bundle.js")