doctype html
html(lang="ja")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
        link(rel="stylesheet" href="/assets/css/common.css")
        link(rel="stylesheet" href="/assets/css/style.css")
        title Hello typescript
    body
        main.main
            a(href="#").btn.btn--primary.btn--large
    script(src="bundle.js")