header.header
    h1.sitettl Pugテストサイトタイトル
    nav
        ul
            li.test
                a(href="#") Top
            li.test
                a(href="#") About
            li
                a(href="#") Works
            li
                a(href="#") Contact