header.header
    h1.sitettl Pugテストサイトタイトル
    nav
        ul.nav
            li.nav__item
                a(href="#") Top
            li.nav__item
                a(href="#") About
            li.nav__item
                a(href="#") Works
            li.nav__item
                a(href="#") Contact